.message {
    padding: 10px;
    background: #9FEE00;
  }
  
  .author {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.8px;
  }
  
  .text {
    margin: 5px 0 0 0;
    font-size: 18px;
    letter-spacing: 0.8px;
  }